@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../components/shared/styles/fonts.css");
@import url("../components/shared/assets/icons/Linearicons.css");

*,
input,
input::placeholder {
	font-family: "Futura PT", sans-serif;
	color: rgba(0, 0, 0, 0.71);
}

.body {
	/* box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between; */
	max-height: 100vh;
	overflow: hidden;
}

@font-face {
	font-family: "Linearicons";
	src: url("../components/shared/assets/icons/Linearicons.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

#lecturesnWrapper>div {
	display: flow-root;
}

#lecturesnWrapper>div>img {
	margin: 0 auto;
}

#lecturesnWrapper>table>tbody>tr>td {
	text-align: start;
	white-space: break-spaces;

}

#lecturesnWrapper>table>tbody>tr {
	border-bottom: 1px solid #9277775e;
}

#lecturesnWrapper>table>tbody>tr>td>div {
	margin-bottom: 0px !important;
}

#lecturesnWrapper>table>tbody>tr>td>div>span {
	text-align: center;
	height: 100%;
	margin-bottom: 0px !important;
}

#lecturesnWrapper>ul {
	list-style-type: disc;
	margin-left: 20px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}